# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Production builds
dist/
build/

# Operating system files
.DS_Store
Thumbs.db
